* {
  @extend .sui-font !optional;
}

.sui-font {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: $fs-xl;
}
h2 {
  font-size: $fs-l;
}
h3 {
  font-size: $fs-ml;
}

span,
p,
a,
li,
ul,
ol,
button,
input,
textarea {
  font-size: $fs-s;
}
