/*
.sui-layout
  .sui-table__filters
  .sui-table__wrraper
    .sui-table
      .sui-table__head
        .sui-table__row
          .sui-table__cell--th
      .sui-table__body
        .sui-table__row
          .sui-table__cell--td
  .sui-table__footer
    .sui-table__row
            .sui-table__cell--td
*/

.sui-table__wrraper {
  overflow-x: auto;
}

.sui-table {
  --bg: white;
  // todo : css vars
  $hover-bg: darken(
    $color: white,
    $amount: 10%,
  );
  --color: $dark;

  isolation: isolate;
  background: var(--bg);

  &.--prisoner {
    .sui-table__row:nth-child(odd) .sui-table__cell--td {
      background: $hover-bg;
    }
  }

  &__cell {
    background: var(--bg);
    color: var(--color);

    border-color: var(--border-color, gray);
    border-style: hidden;
    border-width: var(--border-width, 1px);

    &.--sticky {
      position: sticky;
      left: 0;
      z-index: 1;
    }

    &--th {
      text-align: start;
      cursor: pointer;
    }

    & > div {
      display: flex;
      align-items: center;
      margin: 2.5px 5px;

      white-space: nowrap;
    }
  }

  &.--border-parts {
    .sui-table__cell--th,
    .sui-table__tbody .sui-table__row:last-child .sui-table__cell--td {
      border-bottom-style: solid;
    }
  }

  &.--border-x,
  &.--border {
    td,
    th {
      border-right-style: solid;

      &:first-child {
        border-left-style: solid;
      }
    }
  }

  &.--border-y,
  &.--border {
    thead {
      th {
        border-top-style: solid;
      }
    }
    td,
    th {
      border-bottom-style: solid;
    }
  }
}

.sui-table__thead {
  background: var(--bg);

  &.--sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
