/*
.sui-layout
  .sui-table__filters
  ...sui-table__wrraper
  .sui-table__footer
*/
/*
.sui-table__wrraper
    .sui-table
      .sui-table__head
        .sui-table__row
          .sui-table__cell--th
      .sui-table__body
        .sui-table__row
          .sui-table__cell--td
*/

.sui-layout {
  width: 100%;
}

.sui-table__wrraper {
  width: 100%;
  overflow-x: auto;
}

.sui-table {
  width: 100%;
}

.sui-table {
  --bg: white;
  isolation: isolate;
  background: var(--bg);

  &__cell {
    background: var(--bg);

    border-color: var(--border-color, gray);
    border-style: hidden;
    border-width: var(--border-width, 1px);

    white-space: nowrap;
    & > * {
      display: inline-block;
    }

    &.--sticky {
      position: sticky;
      left: 0;
      z-index: 1;
    }

    &--th {
      text-align: start;
    }
  }

  &.--border-parts {
    .sui-table__cell--th,
    .sui-table__tbody .sui-table__row:last-child .sui-table__cell--td {
      border-bottom-style: solid;
    }
  }

  &.--border-x,
  &.--border {
    td,
    th {
      border-right-style: solid;

      &:first-child {
        border-left-style: solid;
      }
    }
  }

  &.--border-y,
  &.--border {
    thead {
      th {
        border-top-style: solid;
      }
    }
    td,
    th {
      border-bottom-style: solid;
    }
  }
}

.sui-table__thead {
  background: var(--bg);

  &.--sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
