@use "../abstracts/typography" as *;
@use "../abstracts/flex" as *;

.sui-btn {
  @include flex($gap: 0.75rem);

  border: unset;
  outline: unset;
  border-radius: 0.5rem;

  cursor: pointer;

  padding: 0.75rem 1.25rem;

  &.--large {
    padding: 0.75rem 2rem;
    font-size: $fs-ms;
  }
  &.--small {
    padding: 0.25rem 0.75rem;
    font-size: $fs-xxs;
  }
}
