@use "../abstracts/typography" as *;
@use "../abstracts/flex" as *;

.container {
  top: 0;
  left: 0;
  position: fixed;
  border-radius: 0.5rem;

  background-color: rgba(236, 236, 236, 0.88);
  @include flex($dir: column, $align: stretch, $justify: none);

  height: 100%;
  width: 260px;
  max-width: 50%;

  padding-block: 20px;

  // margin-top: 80px;

  .nav-item {
    cursor: pointer;
    padding: 10px 40px;
    @include flex($gap: 10px, $justify: flex-start);

    color: black;
    text-decoration: none;

    font-size: $fs-ms;
    &:hover {
      background-color: aqua;
    }
  }

  .nav-item-active {
    font-weight: bold;
  }
}
