@use "../abstracts/typography" as *;
@use "../abstracts/flex" as *;
@use "../abstracts/base" as *;

.sui-sidebar {
  @include flex($dir: column, $align: stretch, $justify: none);

  box-shadow: 0px 13px 30px #8e86b438;

  width: 260px;
  max-width: 50%;

  padding-block: 40px;
  background-color: #ececece0;

  &__nav-item {
    color: inherit;

    padding: 10px 40px;
    @include flex($gap: 10px, $justify: flex-start);

    text-decoration: none;
    cursor: pointer;

    &[data-active="true"] {
      font-weight: bold;
      background-color: white;
    }

    font-size: $fs-ms;
    &:hover {
      background-color: #dfdfdfe0;
    }
  }
}
